{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to Quizziz! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Quizziz, get started
    by creating a <a href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup' %}">teacher account</a>.
  </p>
  <hr>
  <h3>What's this about?</h3>
  <p>
    Quizziz is an application where teachers can easily create a new Quiz, assign it to a subject and students can answer them. It's that simple!
  </p>
  <p class="mb-0">Shishir Modi<br><a href="https://www.github.com/ShishirModi">@ShishirModi</a></p>
{% endblock %}
